* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

nav ul li {
  margin: 0px 15px;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
}


nav ul li a::after {
  content: ""; /* Elemento vacío para la barra */
  position: absolute;
  left: 0;
  bottom: 4px; /* Ajusta la distancia de la barra */
  width: 0; /* Empieza invisible */
  height: 1px; /* Grosor de la barra */
  background-color: white; /* Color de la barra */
  transition: width 0.3s ease-in-out; /* Animación suave */
}

nav ul li a:hover::after,
nav ul li a.active::after { /* Se activa en hover o con la clase "active" */
  width: 100%;
}

.section{    
  height: 660px;
  align-content: center;
  text-align: center;
}

.section h2{
  font-size: 40px;
}

.section.about{
  display: flex;
  align-items: center; /* Centra verticalmente */
  gap: 20px; /* Espacio entre el texto y la imagen */
  padding: 20px;
  background-color: whitesmoke;  
}

#divs{  
  text-align: center;
   width: 130vh;
}

.section.about img{  
  border-radius: 10px; /* Bordes redondeados (opcional) */
}

.section.skills{
  background-color: yellow;  
}

.section.contact{
  background-color: saddlebrown;  
}
