* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/*Estilo del Navbar*/
.header-nav{  
  background-color: #FFFFFF;  
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.6);
  position: relative;
}

.navbar{
  display: flex;  
  justify-content: space-between;
  align-items: center;  
  width: 100%;
  padding: 0 30px;
}

.div-logo{
  display: flex;
  align-items: center;        
}

.div-logo a{
  font-size: x-large;
  font-family: "Impact", sans-serif;  
  color: #000000;
  text-decoration: none;
}

.div-listaNav ul{
  display: flex;  
  list-style: none;
  align-items: center;
  gap: 40px;
}  


.div-listaNav ul li a{
  color: #000000;
  text-decoration: none;
}
/* Fin */






/*Estilo de la seccion home*/
.header-home{    
  background-color: #fFFFFF;
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

@media (orientation:landscape) {
  .header-home{      
    height: calc(100vh - 70px);    
    padding: 0 24vh;        
  }
}

.header-home h1{
  font-size: 55px;
  font-weight: 800;
  color: #1a3c2c;  
}

.header-home p{
  text-align: center;
  margin-top: 15px;   
  font-size: 25px;
}

.header-home button{
  margin-top: 25px;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  background-color: #1a3c2c;
  height: 40px;
  width: 150px;  
  font-size: 18px;  
}

/* Fin */






/* Estilo de las tarjetas */
.div-tarjetas{
  display: flex;
  justify-content: center;
}

.tarjetas{
  display: flex;
  box-shadow: inset 0 6px 30px rgba(0, 0, 0, 0.6);
  height: 30vh;
  width: 70%;   
  padding: 0 60px;  
  position: relative;
  z-index: 0;
  border-bottom: #1a3c2c solid 3px;
}

.tarjeta{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;  
  background-color: black;
  color: white;   
  font-size: 22px;
  font-weight: 500%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  position: relative;  
  top:80px;   
  z-index: 1;
  transition: top 0.2s ease-in-out, transform 0.2s ease-in-out, z-index 0.3s ease-in-out;
}

.tarjeta:hover{
  top: 50px;
  transform: scale(1.05);
}

.tUno{
  right: -60px;
  transform: rotate(-7deg);    
}

.tUno:hover{  
  transform: rotate(-10deg);
  z-index: 2;
}

.tDos{
  background-color: #1a3c2c;
  right: -30px;
  top: 65px;
  transform: rotate(-3deg);
}

.tDos:hover{  
  transform: rotate(-7deg);
  z-index: 2;
}

.tTres{
  right: 30px;
  top: 65px;
  transform: rotate(3deg);
}

.tTres:hover{  
  transform: rotate(7deg);
}

.tCuatro{
  background-color: #1a3c2c;
  right: 60px;
  transform: rotate(7deg);
}

.tCuatro:hover{  
  transform: rotate(10deg);
}
/* Fin */






/*Separador entre las tajetas y la seccionsobre mi*/
.separadorTarjetas{
  display: flex;  
  justify-content: center;
  align-items: center;
  position: relative;     
  z-index: 2;
  background-color: #fFFFFF;
  height: 40vh;
  width: 100%;
}

.linea-sepTarj{
  background-color: #1a3c2c;
  width: 85%;
  height: 1px;
}
/**/







/* Estilos de la seccion about */
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fFFFFF;  
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 80px;
  font-size: 25px;
}

.aboutme h2{  
  font-size: 40px;
}


/* Fin */







/*

.ul-items{
  display: flex;  
  font-size: 2.7vh;
  list-style: none;     
  background-color: rgba(0, 0, 0, 0)

}


.ul-items a{
  position: relative;
  text-decoration: none;     
  font-weight: bold;
  padding: 0px 7px;
  color: white;  
}

.ul-items a::after{
  content: ""; 
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0; 
  height: 1px;
  background-color: white;
  transition: width 0.6s ease-in-out;
}

.nav-item{
  margin: 0px 21px;
}


.ul-items a:hover::after,
.ul-items a.active::after {
  width: 100%;
}

nav:has(a:focus)::after {
    width: 100%;
}


*/